
/* 背景色 */
.bg-black {
  background-color: black;
  border: 0;
}
.bg-light-black {
  background-color: #292C30;
}

/* カテゴリーボタン。ネットからコピペ */
.search_item {
  /* display: inline-block; */
  padding: 3px;
  cursor: pointer;
}
.search_item.is-active {
  color: white;
  background-color: #78A4FA;
}
.is-hide {
  display: none;
}