
/* 背景色 */
.bg-black {
  background-color: black;
  border: 0;
}
.bg-light-black {
  background-color: #292C30;
}

/* 検索バークリック時も背景色は黒いまま */
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  outline: 0;
  box-shadow: none;
  /* border: 2px solid #FF9800; */
  background-color: black;
}

.close {
  visibility: hidden;
}

.searchbox:hover .close {
  visibility:visible;
}

.searchbox:focus .close {
  visibility:visible;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
  border-color: #292C30;
}


/* カテゴリーボタン。ネットからコピペ */
.search_item {
  /* display: inline-block; */
  padding: 3px;
  cursor: pointer;
}
.search_item.is-active {
  color: white;
  background-color: #78A4FA;
}
.is-hide {
  display: none;
}


@media (max-width: 430px) {
  .category-text {
    font-size: 1.0rem;
  }

  .card-body-text {
    font-size: 0.8rem;
  }

}